<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGBarCharts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6678DBF1F1379E40099A47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6678DD81F1379E40099A47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6678DE31F1379E40099A47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
